# MongoDB Atlas connection
# Get from: Atlas > Cluster > Connect > Drivers (Python)
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority&appName=<appName>
MONGODB_DB=virtualgym
MONGODB_WORKOUTS_COLLECTION=workouts